body {
  font-family: "Tagesschrift", serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh; /* No usar height: 100vh */
  padding: 2vh 2vw;
  margin: 0;
  background-color: #f0f0f0;
  overflow-x: hidden;
}

.x-icon {
  text-align: center;
  width: 100%;
  margin-bottom: 2vh;
}

.gallows {
  position: relative;
  width: 90vw;
  max-width: 400px;
  aspect-ratio: 3 / 2; /*Mantiene proporción */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 2vh;
}

.poste-derecho,
.barra-horizontal,
.otra-cosa,
.cuerda {
  position: absolute;
  background-color: brown;
  border-radius: 5px;
}

.poste-derecho {
  width: 3%;
  height: 75%;
  left: 8%;
  top: -13%;
  bottom: 0;
}

.barra-horizontal {
  width: 60%;
  height: 4%;
  top: -13%;
  left: 8%;
}

.otra-cosa {
  width: 20%;
  height: 4%;
  top: 60%;
  left: 0;
}

.cuerda {
  width: 2px;
  height: 15%;
  top: -10%;
  left: 60%;
  background-color: black;
}

.imagenes {
  position: absolute;
  top: 0%;
  left: 60%;
  transform: translateX(-50%);
  width: 20%;
}

.imagen {
  width: 100%;
  height: auto;
}

.hola {
  text-align: center;
  margin-bottom: 2vh;
}

input {
  width: 15vw;
  min-width: 80px;
  height: 10vw;
  font-size: 2vw;
  text-align: center;
}
.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Espacio entre input y botón */
  margin-top: 2vh;
  flex: 1; /*Opcional: que ambos ocupen igual espacio */
  min-width: 100px;
}

#enviarLetra {
  font-size: 2vw;
  width: 15vw;
  min-width: 80px;
  height: 10vw;
  background-color: aquamarine;
}
